/* Общие стили */
@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Prata;
    line-height: 1.2;
    background: #000;
}

p {
    color: #99721d;
}

a {
    color: inherit;
}

/* Блок */
.block {
    display: grid;
    grid-template-rows: fit-content(0);
}

/* Контейнер для видео */
.video-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
}

.video-container video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    background: #f005 linear-gradient(to right, #ff0000, #fdcf58);
}

/* Контент */
.content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    border: 1vw solid #000;
    font-size: 11.7vw;
}

@media (min-width: 600px) {
    .content {
        font-size: 7.7vw;
    }
}

/* Текст */
.text {
    flex-grow: 1;
    color: #fff;
    background: #000;
    white-space: nowrap;
    box-shadow: 0.1em 0 0 0 #000, -0.1em 0 0 0 #000;
    z-index: 2;
}

/* Стили для текста с отверстием на мобильных */
.hole-mob + .text {
    box-shadow: 0.1em 0 0 0 #000;
}

/* Псевдоэлементы для текста */
.text + .br + .text::before,
.text .br + .text + .text::before,
.text + .hole-pc + .text::before {
    content: "\00a0";
    background: #000;
}

@media (min-width: 600px) {
    .text + .br + .text::before,
    .text .br + .text + .text::before,
    .text + .hole-pc + .text::before {
        display: none;
    }
}

/* Отверстие */
.hole {
    flex-grow: 9999;
    border-top: 0.45em solid #000;
    border-bottom: 0.22em solid #000;
    width: 10%;
}

/* Отверстие для мобильных */
.hole-mob {
    /* Базовые стили для мобильных */
}

@media (min-width: 600px) {
    .hole-mob {
        flex-shrink: 1;
        flex-grow: 0;
        min-width: 1px;
        width: auto;
        height: auto;
        border: none;
        background-color: black;
    }

    .hole-mob::before {
        content: "\00a0";
        background: #000;
    }

    .br + .hole-mob {
        min-width: 1px;
    }

    .br + .hole-mob::before {
        display: none;
    }
}

/* Отверстие для ПК */
.hole-pc {
    display: none;
}

@media (min-width: 600px) {
    .hole-pc {
        display: block;
    }
}

/* Перенос строки */
.br {
    display: block;
    width: 100%;
    height: 0;
}

@media (min-width: 600px) {
    .br {
        display: none;
    }
}